@import "./elements/tab-view.scss";

:root {
  --aspire-green: #01d167;
  --aspire-white: #fff;
  --aspire-light-blue: #23cefd;
  --aspire-bg-light: #fff;
  --aspire-bg-dark: #0c365a;
  --text-light: var(--aspire-white);
  --border-radius: 12px;

  --font-size-xxs: 0.5625rem; // 9px
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.8125rem; // 13px
  --font-size-md: 0.875rem; // 14px
  --font-size-default: 1rem; // 16px
  --font-size-xl: 1.375rem; // 22px
  --font-size-xxl: 1.5rem; // 24px
  --font-size-xxxl: 1.625rem; // 26px
}

.a-button {
  font-family: "Open Sans";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* You can add global styles to this file, and also import other style files */
:root {
  font-family: "Open Sans", sans-serif;
}
