@import "./elements/tab-view.scss";

:root {
  --aspire-green: #01d167;
  --aspire-white: #fff;
  --aspire-bg-light: #fff;
  --aspire-bg-dark: #0c365a;
  --text-light: var(--aspire-white);
  --border-radius: 11px;
}
