<div class="page-header">
  <img
    class="mobile-logo"
    alt="Logo Aspire Small"
    src="/assets/icons/aspire-logo-sm.svg"
  />
  <div class="account-info">
    <span class="inline-block mb-3 mt-2">Available balance</span>
    <div class="flex align-items-center justify-content-between gap-1">
      <div class="flex align-items-center gap-1">
        <span class="account-currency inline-block py-1 px-3 mr-2">S$</span>
        <span class="account-balance">3,000</span>
      </div>
      <button pButton pRipple class="a-button button-add">
        <img
          class="button-icon mr-2"
          alt="Icon add"
          src="/assets/icons/add.svg"
        />
        <span>New card</span>
      </button>
    </div>
  </div>
</div>

<p-tabView>
  <p-tabPanel header="My debits cards">
    <div class="tab-body">
      <app-card></app-card>
    </div>
  </p-tabPanel>
  <p-tabPanel header="All company cards" [disabled]="true">
    <div class="tab-body">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
        numquam eius modi.
      </p>
    </div>
  </p-tabPanel>
</p-tabView>
