:host {
  display: block;
}

.card {
  &-container {
    background-color: var(--aspire-green);
    border-radius: var(--border-radius);
    color: var(--text-light);
    padding: 1.5rem;
    min-height: 220px;
    font-weight: bold;
  }
  &-header {
    margin-bottom: 24px;
  }

  &-holder-name {
    font-size: var(--font-size-xl);
    margin-bottom: 24px;
  }

  &-number {
    font-size: var(--font-size-md);
    // margin-bottom: 13px;
    letter-spacing: 3px;
    white-space: pre;
  }

  &-expiration,
  &-cvv {
    font-size: var(--font-size-sm);
  }
}

.hide-data {
  font-size: var(--font-size-xxl);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.icon {
  &-aspire {
    height: 21px;
  }
  &-visa {
    height: 21px;
  }
}
