.p-tabview {
  .p-tabview-nav {
    border: 1px solid transparent;
    background-color: transparent;

    li:not(.p-highlight) {
      .p-tabview-nav-link {
        border: solid transparent;
      }
    }

    li {
      .p-tabview-nav-link {
        border: solid transparent;
        border-bottom: solid var(--aspire-light-blue);
        background-color: transparent;
        color: var(--aspire-white);
        font-size: var(--font-size-sm);
      }
    }
  }
}
